---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = 'Blog';
---

<BaseLayout pageTitle=`${title}`>
    <p>This is my learning blog where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/posts/one">Post One</a></li>
        <li><a href="/posts/two">Post Two</a></li>
        <li><a href="/posts/three">Post Three</a></li>
    </ul>
</BaseLayout>