---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        Learn more about my projects.
        <Social name="GitHub" domain="github" username="annjose"/>
        <Social name="Twitter" domain="twitter" username="astrodotbuild"/>
        <Social name="YouTube" domain="yourtube" username="astrodotbuild"/>
    </p>
</footer>