---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import SwitchTheme from "./SwitchTheme.astro";
---

<header>
    <nav>
        <Hamburger />
        <SwitchTheme />
        <Navigation />
    </nav>
</header>
<script>
    import "../scripts/nav-menu.ts";
</script>